* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}

img {
    width: 100%;
}

figure {
    width: 100%;
}

p {
    margin-bottom: 20px;
}

/*********** 
UTILITY CLASS
************/

.flex {
    display: flex;
}

.p-rel {
    position: relative;
}

.no-dec {
    list-style-type: none;
}

.no-line-height {
  line-height: unset;
}

/*********** 
TITLES
************/

.hero-title {
    font-size: 60px;
}

.title2 {
    font-size: 42px;
    margin-bottom: 55px;
}

.title3 {
    font-size: 21px;
    margin-bottom: 20px;
}

/*********** 
LOGOS ICONS BUTTONS LINKS
************/
i {
    padding: 0 5px;
}

.logo-small {
    height: 100%;
    position: relative;
    top: 5px;
}

.white-button {
    display: inline-block;
    border: 1px solid black;
    height: 32px;
    padding: 0 14px;
    line-height: 32px;
    text-decoration: none;
}

.blue {
    background-color: cornflowerblue;
    border: 2px solid rgb(164, 196, 255);
    height: 32px;
    padding: 0 14px;
    line-height: 32px;
    text-decoration: none;
    color: white;
}

[class$="link"] {
    text-decoration: none;
}

header li,
footer li {
    display: inline-block;
    height: 100%;
}

header a,
footer a {
    width: 100%;
    display: block;
    line-height: 32px;
    margin: 0 14px;
}



/*********** 
CONTAINERS + LITTLE BORDERS
************/

.container1 {
    max-width: 1226px;
    margin: 0 auto;
}

.container2 {
    max-width: 1040px;
    margin: 0 auto;
}

.card-desc,
.row-footer {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

/*********** 
COLUMNS
************/

.col12 {
    flex-basis: 100%;
}

.col4 {
    flex-basis: calc(100%*1/3)
}

.col8 {
    flex-basis: calc(100%*2/3)
}

.col7 {
    flex-basis: calc(100%*7/12)
}

.col5 {
    flex-basis: calc(100%*5/12)
}

.col6 {
    flex-basis: calc(100%*6/12)
}

.col1-5 {
    flex-basis: calc(100%*1/5)
}

/*********** 
HEADER
************/

header {
    height: 84px;
    justify-content: space-between;
}

header .col {
    align-items: center;
    padding: 0 30px;
}

.header-l-nav,
.header-r-nav {
    height: 32px;
}

/*********** 
HERO
************/

.hero {
    background-color: rgb(165, 213, 255);
    padding-top: 104px;
}

.row-hero {
    flex-wrap: wrap;
    gap: 60px 0;
}

.row-hero>.col4 {
   flex-direction: column;
   justify-content: space-between;
}

.fig-jumbo {
   margin-bottom: -75px;
}

.jumbo {
    width: 100%;
}

.hero-arrow {
    font-size: 45px;
}

/*********** 
BUSINESS PLAN SECTION
************/

.row-business-plan {
    flex-wrap: wrap;
    gap: 40px 0;
    margin-top: 170px;
}

.row-business-plan>[class^="col4"] {
    padding: 20px;
    align-items: stretch;
}

.col4>[class^="card"],
.col12>[class^="card"] {
    border: 1px solid lightgrey;
    height: 100%;
}

.row-business-plan col4:nth-child(2) {
    padding-left: 0;
}

.row-business-plan col4:nth-child(4) {
    padding-right: 0;
}


/*********** 
BUSINESS PLAN HEADER
************/

.invoice {
    height: 42px;
    line-height: 42px;
    border: none;
}

.invoice>div {
    display: inline-block;
    padding-right: 48px;
}

/*********** 
BUSINESS PLAN VERTICAL CARDS
************/

.card-header {
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.card-desc,
.card-feature {
  padding: 33px;
}

.card-desc>*,
.card-feature>*,
.card-header>*,
.card-main {
  line-height: 30px;
}

/* SE DAI I NOMI LEGANDO SOLO PADRE E FIGLIO DI VOLTA IN VOLTA NON TI CAPITA
DI DOVER AVERE DEI SELETTORI COSì INCASINATI  */

.business-plan [class*="info"] {
    padding: 35px 0;
}

[class*="info"]> li {
    padding: 14px 0;
}

.business-plan-link {
    display: block;
    margin-bottom: 32px;
}

.card-feature-info>li {
    list-style-type: "\f00c";
}

.buy-now-link.underline {
    color: blue;
}

/*********** 
BUSINESS PLAN HORIZONTAL CARD
************/

.card-main {
    flex-wrap: wrap;
}

.card-main>.col12 {
    justify-content: space-between;
}

.card-main [class^="enterprise"] {
    padding: 33px;
}

/*********** 
PARTNER
************/

.partner {
    margin-top: 155px;
}

.row-partner>.col5  {
    padding: 60px 50px;
}

/*********** 
FEATURE
************/

.row-feature {
    flex-wrap: wrap;
    gap: 40px 0;
    margin-top: 170px;
}

.row-feature>[class^="col4"] {
    padding: 20px;
    align-items: stretch;
}


.row-feature [class="col4"]:nth-of-type(4n+1) {
    padding-left: 0;
}

.row-feature [class="col4"]:nth-of-type(4n+3) {
    padding-right: 0;
}

/*********** 
USERS SECTION
************/

.link-normal {
    color: blue;
}

.users {
    padding-top: 220px;
    padding-bottom: 155px;
}

/*********** 
DESIGNIT SECTION
************/

.row-design-it {
    flex-wrap: wrap;
}

.row-design-it .col4 {
    flex-wrap: wrap;
}

.row-design-it .col6 {
    align-items: center;
    aspect-ratio: 1/1;
}

.row-design-it .col6:hover {
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.row-design-it .col6.border {
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.sponsor:not(.double) {
    margin: 0 auto;
}

.sponsor.height10 {
    max-width: 
}

.sponsor.double {
    margin-bottom: 100px;
}

.sponsor {
    filter: invert(100%) sepia(61%) saturate(47%) hue-rotate(39deg) brightness(116%) contrast(100%)
}

.row-design-it>.col12 {
    padding: 100px;
}

.row-design-it>.col4.double{
 padding: 50px;
}

/*********** 
SPONSOR DIMENSION
************/

.sponsor.designit {
  height: 20%;
}

.sponsor.arizona {
    height: 40%;
}

.sponsor.world-bicycle {
    height: 23%;
}

.sponsor.florida {
    height: 16%;
    width: 68%;
}

.sponsor.topps {
    height: 28%;
}

.sponsor.hearst {
    width: 70%;
}

.sponsor.lonely-planet {
    height: 30%;
}

.sponsor.clear-channel {
    height: 40%;
}

/*********** 
DESIGN-IT COLORS
************/
.bordeaux {
    color: darkred;
    margin: 0;
}

.sponsor {
    filter: invert(100%) sepia(61%) saturate(47%) hue-rotate(39deg) brightness(116%) contrast(100%)
}

.red {
    background-color: #D5001F;
}

.light-blue {
    background-color: #B4D0E7;
}

.dark-blue {
    background-color: #4F5FA3;
}

.yellow {
    background-color: #FFD830;
}

.col4.double {
    background-color: lightgray;
}

.row-design-it .col12 {
    background-color: #B4D0E7;
}


/*********** 
DOMANDE SECTION
************/

.domande {
    padding: 170px 0;
}

.row-domande {
    flex-wrap: wrap;
}

.row-domande .col12 {
    height: 90px;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    align-items: center;
}

.row-domande i {
    padding: 45px;
}

/*********** 
FOOTER
************/

footer {
    background-color: black;
    color: white;
}

.row-footer {
    padding: 110px 0;
}

footer li {
    display: block;
}

.footer-link {
    color: white;
    font-size: 11px;
}

.col1-5 .no-dec {
    margin-left: -13px;
}

.col1-5 strong {
    line-height: 70px;
}

.language {
    line-height: 70px;
}
