* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}

/*********** 
UTILITY CLASS
************/

.flex {
    display: flex;
}

.p-rel {
    position: relative;
}

.no-dec {
    list-style-type: none;
}

/*********** 
TITLES
************/

.title3 {

}

/*********** 
LOGOS & ICONS
************/

.logo-small {
    height: 100%;
    position: relative;
    top: 7px;
}

/*********** 
HEADER
************/

header {
    height: 84px;
    justify-content: space-between;
}

header .col {
    align-items: center;
}

.header-l-nav,
.header-r-nav {
    height: 32px;
}

.header-l-nav ul{

}

.header-r-nav ul {

}

header li {
    display: inline-block;
    height: 100%;
    line-height: 32px;
    padding: 0 14px;
}

.header-link {
    text-decoration: none;
}

.header-link.blue {
    background-color: cornflowerblue;
    border: 2px solid rgb(164, 196, 255);
}

